@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: black; */
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) -12%, rgba(222,201,151,1) 45%, rgba(0,212,255,1) 100%);
/* background: rgb(110,179,107);
background: radial-gradient(circle, rgba(110,179,107,1) 0%, rgba(11,186,195,0.5578606442577031) 100%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
